# Python
.venv/
__pycache__/
*.pyc
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# SQLite databases
*.db

# Node env files (use .env.example as template instead)
.env.node1
.env.node2
.env.node3
.env.node4
.env
.env.local


